// --------------

// Carbon
@use "@carbon/react";
@use "@/components/DashboardHeader/_dashboard-header";
// carbon theme
@use "@carbon/styles/scss/theme";
@use "@carbon/styles/scss/themes";
// carbon layout
@use "@carbon/layout";
//text
@use "@carbon/type";

// @include hide-at-sm; // Only hidden on sm breakpoint
// @include hide-at-lg; // Only hidden on lg breakpoint
// @include hide-at-xlg; // Only hidden on xlg breakpoint
// @include hide-at-max; //Only hidden on max breakpoint // --------------
//Tailwind
// @tailwind base;
// @tailwind components;
// @tailwind utilities;
@use "./variables.module.scss";

@use "./spacing.module.scss";

:root[data-carbon-theme="g10"] {
  @include theme.theme(themes.$g10);
  .wrapper {
    // background: url("./assets/images/login-background.jpg") 0 0 no-repeat;
  }
}

:root[data-carbon-theme="g100"] {
  @include theme.theme(themes.$g100);
}
/// Remove overrides once Carbon bugs are fixed upstream.
/// Need grid option to not add page gutters at large viewports, to also use when nesting grids
/// @link https://github.com/carbon-design-system/carbon/issues/2792
@media (min-width: 42rem) {
  .cds--grid--no-gutter {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/// Padding was introduced in 10.3.0, needs an option to let grid set the viewport gutter
/// @link https://github.com/carbon-design-system/carbon/issues/3010
.cds--content {
  margin-top: 3rem;
  background: var(--cds-background);
}
