.footer {
  box-shadow: 0px 4px 12px rgba(18, 22, 25, 0.16);
  padding: 1rem 0;
}

.footer-row {
  padding: 1rem 0;
}

.footer-link {
  padding: 0.5rem 0;
}

@media (max-width: 768px) {
  .footer-row-mobile {
    display: block;
  }
}
